@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-size: 100%;
    background-image: url("background-nuvens.jpeg");
    background-size: cover;
    
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    display: flex; 
    font-family: "Sarala", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 19px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.1px solid white;
  }

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: "Righteous", sans-serif;
    font-size: 80px;
    font-weight: 400px;
    color: white;
}

.conteudo-principal-escrito-titulo2 {
    font-family: "Righteous", sans-serif;
    font-size: 80px;
    text-align: center;
    font-weight: 400px;
    color: white;
    border-bottom: 0.1px solid white;
}

.main-botan {
    height: 500px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.conteudo-secundario-paragrafo {
    font-family: "Sarala", sans-serif;
    position: relative;
    left: 110px;
    bottom: 70px;
    font-weight: 300;
    font-size: 25px;
    color: white;
    
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-paragrafo {
    font-family: "Sarala", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 10px;
    color: white;
}